@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    box-sizing: border-box;
    font-size: 0px;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 24px;
    width: 60px;
    height: 40px;
}

button#null {
    width: 120px;
}

.calculator {
    padding: 5px;
    background-color: bisque;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container {
    height: 200px;
    width: 240px;
    display: flex;
}

.container.container_left {
    flex-direction: column;
}

.operators_2 {
    display: flex;
}

.operators_2 * {
    background-color: lightslategray;
}

.digits {
    display: flex;
    flex-wrap: wrap;
}

.operators_1 * {
    background-color: lightsalmon;
}

#display {
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-radius: 2px;
    width: 240px;
    min-height: 45px;
    border: solid black 1px;
    font-family: 'Orbitron', sans-serif;    
    font-size: 34px;
    text-align: center;
    color :antiquewhite;
    background-color:rgb(62, 62, 61);
}